<ion-view view-title="Users">
  <ion-content class="padding">
    <h3>Paris de {{ startDate | date:"dd/MM/yyyy" }} à {{endDate | date:"dd/MM/yyyy"}} </h3>
    <form ng-submit="save(times)">
      <div class="padding" >
        <button type="submit" class="button button-calm button-block"  >Valider</button>
      </div>
      <pre>
        {{ times }}
      </pre>
      <div class="list-container" >
        <timeclock-header
          week="week">
        </timeclock-header>
        <users-timeclock-week
          ng-repeat="worker in workers"
          worker="worker"
          week="week"
          times="times"
          >
        </users-timeclock-week>
      </div>
        <div class="padding" >
          <button type="submit" class="button button-calm button-block"  >Valider</button>
        </div>
    </form>
  </ion-content>
</ion-view>
