{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Cobat dashbord</h1>
            </div>

            <div class="box" >
                <div class="box-header" >
                    {{ 'download_application.label' | trans }}
                </div>
                <div class="box-body" >
                    <div class="media" >
                        <div class="media-left" >
                            <img style="width: 50px" class="media-object" src="{{ asset('img/Android_robot.png') }}" />
                        </div>
                        <div class="media-body" >
                            Telécharger l'application Android
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
