<ion-view view-title="Sites">
  <ion-nav-buttons side="primary">
    <button
      type="button"
      class="button button-positive"
      ui-sref="sites.new">
      Ajouter un Site
    </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <h2>Site</h2>
    <ion-list>
      <ion-item
        class="item-remove-animate"
        ng-repeat="site in sites"
        type="item-text-wrap"
        ui-sref="sites.calendar({siteId: 2, month: month, year: year})"
        >
        <h2>{{site.name}}</h2>
        <ion-option-button class="button-info" ui-sref="sites.edit({siteId: site.id})">
          Modifier
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">
          Supprimer
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
