/* Empty. Add your own CSS if you like */
input.input-row {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  text-align: center;
  border-color: #ddd;
}

.cell {
  text-align: center;
}

.list-container {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  border-color: #ddd;
  border-collapse: collapse;
}

.list-container .row {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  border-color: #ddd;
  border-collapse: collapse;
  margin-top: 0px;
}
