<ion-view view-title="Users">
  <ion-content class="padding">
    <h2>Time clock</h2>
    <form ng-submit="save(times)">
      <button type="submit" class="button button-positive">Save</button>
      <ul class="list-item" >
        <li ng-repeat="user in users" >
          <label class="item item-input">
            <span class="item-label" >{{user.name}}  {{user.firstName}}</span>
            <input
            type="text"
            placeholder="{{user.name}}"
            ng-model="times[user.id].time"
            >
          </label>
        </li>
      </ul>
      <button type="submit" class="button button-positive"  >Sav</button>
    </form>
  </ion-content>
</ion-view>
