{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listes des exports</h1>

    <ul>
        <li>
            <a class="btn" href="{{ path('cobat_download_last_report') }}" >
                Telecharger le denière rapport
            </a>
        </li>
    </ul>
{% endblock %}
