<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('site_index') }}" >Chantier</a></li>
    <li><a href="{{ path('worker_index') }}" >Ouvrier</a></li>
    <li><a href="{{ path('export_index') }}" >Rapport de temps</a></li>
</ul>
